.p-item{
     height:100%;
color: rgb(210, 228, 228);

}



.projects{
    padding: 5% 0;
    background-image: url('C:\Parth\Projects\react\my-app\src\components\Projects\bg8.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    /* padding-top: 8%; */
    padding-top: 15vh;
}

.bg{
    background-image: url('C:\Parth\Projects\react\my-app\src\components\Projects\b13.jpg') ;
    background-position: 0px 0px;
    /* background-repeat: repeat-x; */
    background-size: cover;
    background-repeat: no-repeat;
    animation: animatedBg 10s linear infinite alternate;
   
}

@keyframes animatedBg {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }

.bg:hover{
    background-image: url('C:\Parth\Projects\react\my-app\src\components\Projects\b11.jpg') ;
    /* background-color: bisque; */
    background-position: 0px 0px;
    /* background-repeat: repeat -y; */
    background-size: cover;
    background-repeat: no-repeat;
    animation: animate 10s linear infinite alternate;
}

@keyframes animate {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
  }

  .bg p{
    font-size: 20px;

  }

  .bg button a{
    /* text-decoration: none; */
    color: black;
    
  }


  /* .bd{
    border-color: white !important;
    border-width: 2px !important;
  } */

  .git{
    text-decoration: none;
  }