

.about {
    text-align: center;
    padding: 3% 0;
    /* padding-top: 8%; */

    padding-top: 15vh;
    
}



.about h2,h3{
    text-decoration: underline;
}

.ed p{
    font-weight:600;
}

.ed{
    padding: 2%;
}