
html {
    scroll-behavior: smooth;
  }

.buttons{
    border-radius: 30px;
    color: rgb(196, 213, 241);
    background-color: rgb(26, 66, 75);
}

/* *{
    padding: 2px;
    overflow: hidden;
} */

.App{
  
    overflow-x: hidden;
    color: var(--black); 
   
}

.button:hover{
   background: rgb(201, 190, 170);
   color: rgb(19, 18, 18);

}

